/*
	_content.css
*/




//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	padding-bottom: 50px;
	.flickity-slider{
		transform: inherit !important;
	}
	.bnr-carousel{
		background-color: $color-3;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.carousel-header-block{
		background-color: rgba($color-3, 0.5);
	}
	.carousel-prev-next{
		width: inherit;
		left: 50%;
		transform: translateX(-50%);
		//position: relative;
	}
	figure{
		height: 505px;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
			}
		}
	}
	.desc-content{
		padding: 15px 20px;
		color: white;
	}

	@media(min-width: 992px) {
		.carousel-header-block{
			left: 30px;
		}
	}
	@media(max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: 220px;
			.desc-content{
				display: none;
			}
		}
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}
}
.img-cloud{
	bottom:0;
	height: 188px;
	position: absolute;
	width: 100%;
	background-image: url('../img/other/cloud.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	z-index: 3;
	pointer-events: none;
	&:before{
		//@extend .claf;
		//width: 100%;
		//z-index: 1;
	} 
}








