/*
	_content.css
*/




//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	.flickity-slider{
		transform: inherit !important;
	}
	.bnr-carousel{
		background-color: white;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		background-position: center center;
	}
	figure{
		height: 505px;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
			}
		}
	}
	.desc-content{
		padding: 15px 20px;
		color: white;
	}
	.carousel-header-block{
		background-color: rgba($color-3, 0.5);
	}
	.carousel-prev-next{
		width: ingerit;
		//((100/12)*8)+%
		left: 50%;
		transform: translateX(-50%);
		.bg-wrapper{
			bottom: 0;
			position: absolute;
			background-color: $color-2;
			height: 40px; 
		}
		.next, .prev{
			color: white;
			width: 50%;
			height: 100%;
			text-align: center;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			.fa{
				padding-top: 10px;
			}
			&:hover{
				background-color: $color-3;
				color: white;
			}
		}
		.prev{
			left: 0;
		}
		.next{
			right: 0;
		}
	}
	.btn-def{
		position: absolute;
		bottom: -39px;
		//color: white;
	}

	@media(max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: 200px;
			.carousel-content{
				display: none;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}
}







// short-productions
.short-productions{
	& > .container{
		position: relative;
	}
}
.short-productions-nav{
	position: relative;
	&:before{
		@extend .claf;
		height: 3px;
		width: 90%;
		background-color: $color-gray-1;
		bottom: 10px;
		top: inherit;
	}
	h3{
		position: relative;
		line-height: 200%;
		font-weight: 700;
		transition: all 0.3s ease-in-out;
		&:before{
			@extend .claf;
			transition: all 0.3s ease-in-out;
			top: inherit;
			bottom: 0;
			width: 30px;
			height: 3px;
			@extend .trans-h-center;
		}
	}
	.nav-item{
		margin: 0 15px;
		&.is-selected{
			h3:before{
				background-color: $color-3;
			}
		}
		&:not(.is-selected){
			color: $color-gray-2;
		}
	}
	.navdot{
		@extend .trans-v-center;
		position: absolute;
		right:0;
		.flex{
			justify-content: flex-end;
			flex: 1 1;
		}
		background-color: rgba($color-1, 0.0);
		margin-top: 16px;
		//height: 150px;
		width: 200px;
		display: block;
		a{
			width: 13px;
			height: 13px;
			transition: all 0.3s ease-in-out;
			border-radius: 50%;
			display: inline-block;
			background-color: $color-gray-1;
		}
		li{
			margin: 0 5px;
			&.is-selected{
				a{
					background-color: $color-2;
				}
			}
		}
	}
	@media (max-width:991px) {
		.pie-flex-justify{
			flex-direction: column;
		}
		&:before{
			width: 100%;
		}
	}
}

.short-productions-items{
	figure{
		border: 1px solid $color-gray-1;
		overflow: hidden;
		background-color: white;
		.img-content{
			height: 260px;
			overflow: hidden;
		}
		.img{
			height: 100%;
			transition: all 1s ease;
		}
		&:hover{
			.price-content{
				background-color: $color-3;
			}
			.btn-basket-content{
				background-color: $color-1;
			}
			.desc-content{
				
				color: $color-2;
			}
			.img{
				transform: scale(1.1);
			}
		}
	}
	.price, .btn-basket{
		height: 40px;
	}
	.desc-content{
		transition: all 0.3s linear;
		position: relative;
		font-weight: 600;
		&:before{
			@extend .claf;
			height: 1px;
			background-color: $color-2;
			top: inherit;
			bottom: 0;
		}
		&:after{
			@extend .claf;
			height: 5px;
			background-color: $color-2;
			top: inherit;
			width: 50px;
			bottom: -2px;
			@extend .trans-h-center;
		}

	}
	.btn-content{
		.pie-flex-center{
			height: 40px;
			transition: all 0.3s ease-in-out;
		}
		.btn-basket-content{
			border: 1px solid $color-2;
			color: $color-2;
		}
		.price-content{
			color: white;
			font-weight: 600;
			font-size: 1.5em;
			background-color: #a5a5a5;
		}
	}
}







// short-interesting
.short-interesting{
	& > .container{
		position: relative;
	}
}
.short-interesting-nav{
	position: relative;
	.navdot{
		@extend .trans-v-center;
		position: absolute;
		right:0;
		.flex{
			justify-content: flex-end;
			flex: 1 1;
		}
		background-color: rgba($color-1, 0.0);
		margin-top: 22px;
		//height: 150px;
		width: 200px;
		display: block;
		a{
			width: 13px;
			height: 13px;
			transition: all 0.3s ease-in-out;
			border-radius: 50%;
			display: inline-block;
			background-color: $color-gray-1;
		}
		li{
			margin: 0 5px;
			&.is-selected{
				a{
					background-color: $color-2;
				}
			}
		}
	}
}

.short-interesting-items{
	figure{
		overflow: hidden;		
		.img-content{
			height: 260px;
			overflow: hidden;
		}
		.desc-content{
	    width: 85%;
    	top: -30px;
    	margin: auto;
    	background-color: white;
    	position: relative;
		}
		.img{
			height: 100%;
			transition: all 1s ease;
		}
		&:hover{
			.img{
				transform: scale(1.1);
			}
			h4{
				color: $color-2;
			}
			.btn-def{
				background-color: $color-1;
				color: block;
			}
		}
	}
}






/* productions */
.price{
	font-size: 1.5em;
	background-color: $color-3;
	color: white;
}
.productions{
	.productions-nav{
		position: relative;
		&:before{
			@extend .claf;
			height: 3px;
			bottom: -10px;
			top: inherit;
			background-color: $color-gray-1;
		}
		li{
			position: relative;
			margin: 0 7px;
			&:before{
				@extend .claf;
				height: 3px;
				top: inherit;
				width: 38px;
				background-color: transparent;
				bottom: -10px;	
				transform: translateX(-50%);
				left: 50%;
			}
			&.active{
				font-weight: 700;
				&:before{
					background-color: $color-2;
				}
			}
		}
		a{
			display: block;
		}
		@media (max-width: 991px){
			li{
				width: 49%;
				margin: 15px 0;
			}
		}
		@media (max-width: 380px){
			li{
				width: 100%;
				margin: 10px 0;
			}
		}

	}
}
.production-modal{
	.discount{
		background-color: $color-1;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.bg-wrapper{
		background-color: white;
	}
	.rowing{
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $color-gray-1;
		&:nth-child(1){
			padding-top: 0;
		}
	}
	.btn{
		transition: all 0.3s ease;
		&:hover{
			box-shadow: 0 0 18px -5px black;
		}
	}
}
.products-cnt-form{
	input, button{
		height: 36px;
		border: 1px solid black;
	}
	input{
		text-align:center;
		width: 80px;
		font-weight: 600;
	}
	button{
		background-color: transparent;
		width: 40px;
	}
}
.rating-appraise{
	//	font-size: 0;
	li{
		margin-left: 0;
    padding-left: 3px;
    padding-right: 3px;
		transition: all 0.2s linear;
		.fa-star{
			color: $color-5;
			font-size: 18px;
			transition: all 0.4s linear;
		}
		&.cheсked ~ li{
			.fa-star{
				color: #9e9e9e !important;
			}
		}
	}
}
.production-modal-reviews{

}