$icomoon-font-path: "../icomoon/fonts" !default;

$ls-avatar: \e900;
$ls-clock: \e901;
$ls-credit-card-path1: \e902;
$ls-credit-card-path2: \e903;
$ls-diamond: \e904;
$ls-envelope: \e905;
$ls-facebook: \e906;
$ls-guarantee-path1: \e907;
$ls-guarantee-path2: \e908;
$ls-guarantee-path3: \e909;
$ls-guarantee-path4: \e90a;
$ls-instagram: \e90b;
$ls-like: \e90c;
$ls-ok: \e90d;
$ls-phone-call: \e90e;
$ls-placeholder: \e90f;
$ls-security: \e910;
$ls-shopping-bag: \e911;
$ls-telegram: \e912;
$ls-truck-path1: \e913;
$ls-truck-path2: \e914;
$ls-truck-path3: \e915;
$ls-truck-path4: \e916;
$ls-truck-path5: \e917;
$ls-truck-path6: \e918;
$ls-truck-path7: \e919;
$ls-truck-path8: \e91a;
$ls-truck-path9: \e91b;
$ls-truck-path10: \e91c;
$ls-truck-path11: \e91d;
$ls-truck-path12: \e91e;
$ls-truck-path13: \e91f;
$ls-truck-path14: \e920;

